<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php_74" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\BtSoft\php\74\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="http_toHttps">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="OrgPage" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)$" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
